<div class="row header">
  <h3>Rechnungen</h3>
  &nbsp;
  <button (click)="dataService.addInvoice()" class="rounded-circle btn btn-primary">
    <i class="fa fa-plus"></i>
  </button>
</div>
<div class="list-group list-group-flush" *ngFor="let invoice of dataService.invoices; index as i">
  <button (click)="setIndex(i)" class="list-group-item list-group-item-action">
    <strong>{{invoice.customer_name || 'empty'}}</strong>
  </button>
</div>

<hr>
<div class="m-2" *ngIf="dataService.getSumAllInvoices()">
  Netto: {{ dataService.getSumAllInvoices().summAllInvoicesWithoutTax }}
  <br>
  Ums.-Str.(19%): {{ dataService.getSumAllInvoices().tax }}
  <br>
  Brutto: {{ dataService.getSumAllInvoices().summAllInvoicesWithTax }}
</div>

<div class="text-center button-group">
  <button (click)="dataService.import()" type="button" class="btn btn-primary">Import</button>
  &nbsp;
  <button (click)="dataService.export()" class="btn btn-primary">Export</button>
</div>