<div *ngIf="dataService.invoices">

  <form>
    <div class="row"  >
      <div class="col">
        <h5>ALLGEMEINE DATEN</h5>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Kundennr.</label>
          <div class="col-sm-10">
            <input name="customerID" [(ngModel)]="dataService.invoices[dataService.currentIndex].customer_id" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input name="customerName"  [(ngModel)]="dataService.invoices[dataService.currentIndex].customer_name" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Ansprechparter</label>
          <div class="col-sm-10">
            <input name="customerContactPerson"  [(ngModel)]="dataService.invoices[dataService.currentIndex].customer_contact_person"class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Anschrift</label>
          <div class="col-sm-10">
            <input name="customerAddress"  [(ngModel)]="dataService.invoices[dataService.currentIndex].customer_address"class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">PLZ</label>
          <div class="col-sm-10">
            <input name="customerZIP"  [(ngModel)]="dataService.invoices[dataService.currentIndex].customer_zip" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Ort</label>
          <div class="col-sm-10">
            <input name="customerCity"  [(ngModel)]="dataService.invoices[dataService.currentIndex].customer_city" class="form-control">
          </div>
        </div>
      </div>
      <div class="col">
        <h5>ZAHLUNGSINFORMATIONEN</h5>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">IBAN</label>
          <div class="col-sm-10">
            <input name="iban"  [(ngModel)]="dataService.invoices[dataService.currentIndex].iban" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">BIC</label>
          <div class="col-sm-10">
            <input name="bic"  [(ngModel)]="dataService.invoices[dataService.currentIndex].bic"class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Kontoinhaber</label>
          <div class="col-sm-10">
            <input name="accountOwner"  [(ngModel)]="dataService.invoices[dataService.currentIndex].account_owner" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Mandatsreferenz</label>
          <div class="col-sm-10">
            <input name="mandateReference"  [(ngModel)]="dataService.invoices[dataService.currentIndex].mandate_reference" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Mandat Ort</label>
          <div class="col-sm-10">
            <input name="mandateCity"  [(ngModel)]="dataService.invoices[dataService.currentIndex].mandate_city" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Mandat Datum</label>
          <div class="col-sm-10">
            <input name="mandateDate"  [(ngModel)]="dataService.invoices[dataService.currentIndex].mandate_date" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Mandat Person</label>
          <div class="col-sm-10">
            <input name="mandateSignee"  [(ngModel)]="dataService.invoices[dataService.currentIndex].mandate_signee" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <h5>RECHNUNGSDATEN</h5>
    <div class="row">
      <div class="col">
        <div  class="form-group row">
          <label class="col-sm-2 col-form-label">Rechnungsnr.</label>
          <div class="col-sm-10">
            <input name="invoiceNumber"  [(ngModel)]="dataService.invoices[dataService.currentIndex].invoice_number" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Zeitraum</label>
          <div class="col-sm-10">
            <input name="invoicePeriod"  [(ngModel)]="dataService.invoices[dataService.currentIndex].invoice_period" class="form-control">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Rechnungsdatum</label>
          <div class="col-sm-10">
            <input name="invoiceDate"  [(ngModel)]="dataService.invoices[dataService.currentIndex].invoice_date" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Fälligkeitsdatum</label>
          <div class="col-sm-10">
            <input name="invoiceDueDate"  [(ngModel)]="dataService.invoices[dataService.currentIndex].invoice_due_date" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <h5>RECHUNGSPOSTEN</h5>

    <div class="row">
      <div class="col-1"></div>
    </div>

    <table class="table">
      <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 65%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
      </colgroup>
      <thead>
        <tr>
          <th scope="col">Pos.</th>
          <th scope="col">Name</th>
          <th scope="col">Beschreibung</th>
          <th scope="col">Anzahl</th>
          <th scope="col">Einzelpreis</th>
          <th scope="col">Summe</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>asdf</td>
          <td>asdf</td>
        </tr>
      </tbody>
    </table>

    <button (click)="addRechnungsposten()" class="rounded-circle btn-lg btn-primary">
      <i class="fa fa-plus"></i>
    </button>
  </form>
</div>